<%- include partials/head %>
<%- include partials/preloader %>
<%- include partials/header %>

<div class="page-single-2">
	<div class="container">
		<div class="row">
			<div class="middle-content">
				<a href="index.html"><img class="md-logo" src="./static/img/logo1.png" alt="Logo"></a>
				<img src="./static/img/uploads/err-img.png" alt="Error 404">
				<h1>Página no encontrada</h1>
				<a href="/" class="redbtn">Inicio</a>
			</div>
		</div>
	</div>
</div>

<%- include partials/footer %>