<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft"></div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p>© 2019 Peliflix. Todos los derechos reservados.</p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Regresar arriba  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="/static/js/jquery.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/plugins2.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/alertify.min.js"></script>
<script src="/static/js/index.js"></script>

<%- scripts %>
</body>
</html>