<!--login form popup-->
<% if(!session) { %>
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Entrar</h3>
		<div class="row">
				<label for="login-email">
				Correo:
				<input type="text" name="login-email" id="login-email" placeholder="email@email.com" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
			</label>
		</div>
		
		<div class="row">
			<label for="login-password">
				Contraseña:
				<input type="password" name="login-password" id="login-password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
			</label>
		</div>
		<div class="row">
			<button type="submit" id="login">Entrar</button>
		</div>
    </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
		<h3>Registro</h3>
		<div class="row">
				<label for="register-first-name">
				<span class="span-input">Nombre:</span>
				<input type="text" name="first-name" id="register-first-name" placeholder="Nombre" required="required" />
				<input type="hidden" name="email" id="register-email" placeholder="correo@correo.com" required="required" />
			</label>
		</div>
		<div class="row">
			<label for="register-last-name">
				<span class="span-input">Apellidos:</span>
				<input type="text" name="last-name" id="register-last-name" placeholder="Apellido" required="required" />
				<input type="hidden" name="telephone" id="register-telephone" placeholder="0555666777" required="required" />
			</label>
		</div>
		<div class="row">
			<label for="register-email">
				<span class="span-input">Dirección:</span>
				<input type="text" name="address" id="register-address" placeholder="Lomas de Balvanera #5" required="required" />
				<input type="hidden" name="birthdate" id="birthdate" required="required" />
			</label>
		</div>
		<div class="row">
			<label for="register-password">
				<span class="span-input">Contraseña:</span>
				<input type="password" name="password" id="register-password" placeholder="********" required="required" />
				<select id="gender" class="hidden">
					<option value="0">Masculino</option>
					<option value="1">Femenino</option>
				</select>
			</label>
		</div>
			<div class="row">
			<label for="retype-repassword">
				<span class="span-input">Repite contraseña:</span>
				<input type="password" name="password" id="retype-password" placeholder="********" required="required" />
			</label>
		</div>

		<div class="row">
			<button id="next-modal">Siguiente</button>
			<button type="submit" id="signup" class="hidden">Registrarse</button>
		</div>
    </div>
</div>
<% } %>
<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="/"><img class="logo" src="/static/img/logo1.png" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" href="/">
							Inicio <i aria-hidden="true"></i>
							</a>
						</li>
						<% if (session) { %>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" href="/perfil">
							Perfil <i></i>
							</a>
						</li>
						<% } %>
					</ul>
					<ul class="nav navbar-nav flex-child-menu menu-right">
						<% if(!session) { %>    
							<li class="loginLink"><a href="#">Entrar</a></li>
							<li class="btn signupLink"><a href="#">Registrarse</a></li>
						<% } else { %>
							<li class="btn"><a href="/agregar">Subir película</a></li>
						<% } %>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
	    <div class="top-search">
	    	<select id="select-searcher">
				<option value="Pelicula">Título</option>
				<option value="Actor">Actores</option>
				<option value="Productor">Productor</option>
				<option value="Director">Director</option>
				<option value="peliculas_favoritas">Listas favoritas</option>
			</select>
			<input type="text" placeholder="Busca tus peliculas o tus actores favoritos" id="searcher">
	    </div>
	</div>
</header>
<!-- END | Header -->