<div class="hero user-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1><%= title %></h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="/">Inicio</a></li>
                            <li> <span class="ion-ios-arrow-right"></span><%= title %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>